# folders too big for github :

# our data
0_data/

# the tracking of run info by mlflow
1_4_notebooks/artifacts/
1_4_notebooks/mlruns/

# pre embedded word vectors
1_4_notebooks/GoogleNews-vectors-negative300.bin.gz

# our model, ready to be deployed
5_6_API/model/pickled_knn.pkl
