# python==3.11.5 
pip
requests
pandarallel
jupyter
numpy
pandas
nltk
spacy
matplotlib
plotly
wordcloud
pillow
statsmodels
scipy
scikit-learn
gensim
pyLDAvis
tensorflow
transformers
datasets
flask
joblib
pytest
gdown
mlflow==2.10.0
