# python==3.11.5 
pip
requests
pandarallel
jupyter
numpy
pandas
nltk
spacy
matplotlib
plotly
seaborn
wordcloud
pillow
statsmodels
scipy
scikit-learn
gensim
pyLDAvis
tensorflow
xgboost
flask
joblib
pytest
mlflow==2.9.2
