# folders too big for github :

# our data
./../0_data/

# the tracking of run info by mlflow
./artifacts/
./mlruns/

# pre embedded word vectors
GoogleNews-vectors-negative300.bin.gz

# our model, ready to be deployed
./../5_6_API/model
