# Pour python, laisser commenter si on utilise virtualenv (pour le serveur ici). 
# Décommenter pour conda (utilisé en local).

# python=3.11.5
pip
requests
numpy
pandas
nltk
statsmodels
scipy
scikit-learn
gensim
datasets
flask
pytest
gdown

