<!DOCTYPE html>
<html>
    <head>
        <title>Topics Prediction Form</title>
    </head>
    <body>
        <h2>Tag prediction tool</h2>
        <form action="/" method="post">
            <label for="content">Enter your content:</label><br />
            <textarea
                id="content"
                name="user_input_text"
                rows="4"
                cols="50"
                placeholder="{{user_input_text}}"
                autofocus
            ></textarea
            ><br /><br />
            <input type="submit" value="Send" />
        </form>

        {% if result %}
        <div><p>Result: {{ result }}</p></div>
        {% endif %}
    </body>
</html>
