<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <style>
            body {
                margin: 0;
                background: black;
                overflow: hidden;
                color: silver;
                justify-content: center;
                font-size: larger;
            }
        </style>
        <title>Topics Prediction Form</title>
    </head>
    <body>
        <h2>Tag prediction tool</h2>
        <form action="/" method="post">
            <label for="content">Enter your content:</label><br />
            <textarea
                id="content"
                name="user_input_text"
                rows="4"
                cols="50"
                placeholder="{{user_input_text}}"
                autofocus
            ></textarea
            ><br /><br />
            <input type="submit" value="Send" />
        </form>

        {% if result %}
        <div><p>Result knn: {{ result[0] }}</p></div>
        <div><p>Result lr: {{ result[1] }}</p></div>
        {% endif %}
    </body>
</html>
